.color-grey{
    color: #898989}
    
    a{text-decoration: none;}
    
    #date{font-size: 80%;
    color: #898989}
    
    .highlighted{background-color: yellow;}

    html{margin-left: 150px;
    margin-right: 150px;}
    
    .pattern{background-color: rgb(104, 104, 206);
        height: 120px;}
        
        #container{position:relative;}
        #logo{position: absolute;
            width: 200px;
            height:90px;
        margin-top:12px;}


        
        

